@import '../mixins.scss';

.logo {
    order: 2;
}

.logo img {
    height: 2.5rem;
}

@include only-desktop() { 
    .logo {
        order: unset;
    }

    .logo img {
        height: auto;
    }
}